extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row 
            .col-12 
                +box-head("Trang danh sách sản phẩm")
        
        .row
            .col-4.mb-3 
                .product-item 
                    .inner-image 
                        img(src="/images/pg39.png", alt="Nike Pegasus 39")
                    .inner-content  
                        h3.inner-title Nike Pegasus 39
                        .inner-price-new 80$
                        .inner-price-old 100$
                        .inner-discount -20%